#about {
    display: flex;
    align-items: center;
    background-color: lightcoral;
    height:30vw;
    border-top:#940a05c2 2px solid;
    margin-top: 2vw;
}
  
.about-content {
    flex-grow: 1;

    color: #222;
    
  }
  .about-content h2{
    margin:2vw 0;
    font-size: 4vw;
    color:#940a05c2;
  }

  .about-content p{
    /* background-color: pink; */
    width:80%;
    font-size: 3vh;
  }
  
  .about-image {
    flex-shrink: 0;
    width: 50%;
  }
  
  .about-image img {
    width: 70%;
    height: auto;
    margin-bottom: 16px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 24px;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .secondary-btn {
    background-color: #940a05c2;
    color: #fff;
    margin-left: 12px;
  }

  .about-content .buttons button{
    background-color: transparent;
    border:0;
    margin-right: 12vw;
    margin-left: 12vw;
    
  }

  .about-content .buttons button:hover{
    border-left:1
  }