@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

/* .header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.logo {
  margin-right: 10px; 
}

span {
  color: #FFF;
  text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.99);
  font-family: 'Amaranth', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
} */
 
 .header
 {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

.title{
  font-size: 2vw;
  font-weight: bold;
}

.navs{
  display: flex;
  justify-content: space-between;
}

.navs span{
  padding:2vw;
}

.pt1{
  display:flex;
  align-items: center;
}